/* ======================================
Responsive Image gallery Style rules
======================================*/

.participants>p {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	padding: 25px;
	background-color: #fff;
	width: 100%;
	border: 1px solid gray;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
}

.name {
	font-weight: bold;
	text-align: center;
}

.photographer {
  text-align: center;
}

.container {
  /* padding: 40px 5%; */
}




ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.image-gallery > li {
  flex-basis: 350px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
  	border: 1px solid #ccc;
	border-radius: 10px;
	background: white;
	height: 100%;
  padding: 5px;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
  margin-left: auto;
    margin-right: auto;
    display: block;
}

.groupImage, .roleImage {
  border: 2px solid #000000;
}




