* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: 1em;  	
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #f3f4f7;
}

td {
	vertical-align: top;
	padding: 10px;
	margin: 0px;
}

a.no_underline {
	text-decoration:none;
}

.input_field {
	width: 90%;
}
.required:after {
    content:" *";
    color: red;
  }

.required {
  background: red;
}


.content {
	width: 95%;
	margin: 5px auto;
	padding-left:16px;
}
.content h1 {
	padding: 25px 0;
	font-size: 1.6em;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}

.person {
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #e0e0e3;
	margin-bottom: 10px;
}

.role {
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #9f9fa8;
	margin-bottom: 10px;
}


.content h3 {
	margin: 0;
	padding-top:  10px;
	padding-bottom: 0px;
	font-size: 1.1em;
	color: #4a536e;
}
 
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 10px;
}

.header {
	font-weight: bold;
}

.checks > p table td:first-child, .content > div table td:first-child, .list td:first-child {

	font-weight: bold;
	  font-size: 1em;
	padding-right: 15px;
}



.checks td, .checks th {
  font-size: 1em;
  padding: 8px;
}

.checks > div p {
	  font-size: 1em;
	padding: 5px;
	margin: 0 0 10px 0;
}

p {
	width: 80%;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

h1 {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 2.1em;
	font-weight: bold;
	color: #000000;
}

h2 {
	border-top: 1px solid #808080;
	padding-top: 6px;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	color: #000000;
}

li {
	line-height: 150%;
}

.question {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	margin: 10px 0 20px 0; /*top right bottom left*/
	padding: 10px 20px 20px 20px; /*top right bottom left*/
	background-color: #e3e3e3;
	border-radius: 2px;
	font-size: 1em;
}

.explanation {
	padding: 10px 20px 10px 20px; /*top right bottom left*/
	font-size: 1em;
}

.tooltip {
	padding-top: 10px;
	font-size: 1em;
}

table.helpBox td {
	padding-right: 10px;	
}





.roles {
  font-weight: normal;
    font-size: 1em;
  border-collapse: collapse;

}

.roles td, .roles th {
  font-size: 1em;
  padding: 8px;
}

.data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.small_data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.data td, .data th, .small_data td, .small_data th{
  border: 1px solid #ddd;
  padding: 8px;
}

.data tr:nth-child(even), .small_data tr:nth-child(even){background-color: #f2f2f2;}

.data tr:hover, .small_data tr:hover {background-color: #ddd;}

.data th, .small_data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #808080;
  color: white;
}




.error {
    font-weight: bold;
	background-color: #f2f2f2;
	padding: 2px 2px 2px 2px;
	color: red;
	text-align: center;

}


.message {
    font-weight: bold;
	background-color: #f2f2f2;
	padding: 2px 2px 2px 2px;
	color: green;
	text-align: center;
}


 button.invisible {
   background: none!important;
   border: none;
   padding: 0!important;
   /*optional*/
   font-family: arial, sans-serif;
   /*input has OS specific font-family*/
   color: -webkit-link;
   text-decoration: underline;
   cursor: pointer;
 }

form.fabutton {
	display:inline
}
 
 .hidden {
  display: none;
}

.shown {
  display: table-row;
}

div.question > label:first-child {
	font-weight: bold;
}

