@charset "ISO-8859-1";

#telegrams {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#telegrams td, #telegrams th {
  border: 1px solid #ddd;
  padding: 8px;
}

#telegrams tr:nth-child(even){background-color: #f2f2f2;}

#telegrams tr:hover {background-color: #ddd;}

#telegrams th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}