#navigation {
	position: absolute;
	width: 210px;
	height: 600px;
	margin: 0;
	margin-top: 0px;
	border-right: 1px solid #C6EC8C;
	font-weight: normal;
}

#centerDoc {
	position: absolute;
	padding: 0 0 20px 0; /*top right bottom left*/
	margin-top: 50px;
	margin-left: 235px;
}

#site-header {
	padding: 0 0 20px 0; /*top right bottom left*/
	/* Center horizontally*/
	margin: 0 auto;
}

#simpleCenter {
	width: 800px;
	padding: 10px 20px 20px 20px; /*top right bottom left*/
	background-color: white;
	/* Center horizontally*/
	margin: 0 auto;
}


body {
	background-color: black;
}


p {
	width: 80%;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

h1 {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #000000;
}

h2 {
	border-top: 1px solid #808080;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #000000;
}

li {
	list-style-type: disc;
	line-height: 150%;
}

.question {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	margin: 10px 20px 20px 20px; /*top right bottom left*/
	padding: 10px 20px 20px 20px; /*top right bottom left*/
	background-color: #e3e3e3;
	border-radius: 25px;
}